<!DOCTYPE html>
<html  xmlns:th="https://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <title>Crear Empleado</title>
</head>
<body>
    <div class="body">
        <section class="section">
          <h1>Crear</h1>
          <div class="formu1">
              <div class="formu2">
                <form th:action="@{/empleado/add}" method="post" th:object="${empleado}" id="formulario" enctype="multipart/form-data">
                    <div class="mb-3">
                        <!-- nombreEmpelado -->
                    <div class="formulario_grupo" id="grupo_nombre">
                    <label class="rol">Nombre Empleado</label><br>
                    <div id="cargo_input">
                    <input class="roltext1" name="NombreEmpleado" id="NombreEmpleado" th:field="*{NombreEmpleado}" placeholder="Andrea">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">El Nombre tiene que estar ingresado, solo puede contener Letras.</p>
                    </div>
                    <!-- apellidoEmpleado -->
                    <div class="formulario_grupo" id="grupo_apellido">
                    <label class="rol">Apellido Empleado</label><br>
                    <div id="cargo_input">
                        <input class="roltext1" name="ApellidoEmpleado" id="ApellidoEmpleado" th:field="*{ApellidoEmpleado}" placeholder="Rodriguez">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">El Apellido tiene que estar ingresado, solo puede contener Letras.</p>
                    </div>
                    <!-- docEmpleado -->
                    <div class="formulario_grupo" id="grupo_documento">
                        <label class="rol">Documento Empleado</label><br>
                    <div id="cargo_input">
                        <input class="roltext1" name="DocEmpleado" id="DocEmpleado" th:field="*{DocEmpleado}" placeholder="12487596">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                        <p class="formulario__input-error">El Documento tiene que estar ingresado, solo puede contener numeros.</p>
                    </div>
                    <!-- epsEmpleado -->
                    <div class="formulario_grupo" id="grupo_eps">
                        <label class="rol">Eps Empleado</label><br>
                    <div id="cargo_input">
                        <input class="roltext1" name="EpsEmpleado" id="EpsEmpleado" th:field="*{EpsEmpleado}" placeholder="SuperSalud">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                        <p class="formulario__input-error">La Eps tiene que estar ingresada, solo puede contener Letras y espacios.</p>
                    </div>
                    <!-- direccEmpleado -->
                    <div class="formulario_grupo" id="grupo_direcc">
                        <label class="rol">Direccion Empleado</label><br>
                    <div id="cargo_input">
                        <input class="roltext1" name="DireccEmpleado" id="DireccEmpleado" th:field="*{DireccEmpleado}" placeholder="Av 150 # 78b">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                        <p class="formulario__input-error">La direcccion tiene que estar ingresado, solo puede contener Letras, numeros y ciertos signos.</p>
                    </div>
                    <!-- generoEmpleado -->
                    <div class="formulario_grupo" id="grupo_genero">
                        <label class="rol">Genero Empleado</label><br>
                        <select class="roltext1" name="GeneroEmpleado" id="GeneroEmpleado">
                            <option id="GeneroEmpleado" class="roltext1" name="GeneroEmpleado" value="Masculino">Masculino</option>
                            <option id="GeneroEmpleado" class="roltext1" name="GeneroEmpleado" value="Femenino">Femenino</option>
                            <option id="GeneroEmpleado" class="roltext1" name="GeneroEmpleado" value="Otro">Otro</option>
                        </select>
                    </div>
                    <!-- telefonoEmpleado -->
                    <div class="formulario_grupo" id="grupo_tel">
                        <label class="rol">Telefono Empleado</label><br>
                    <div id="cargo_input">
                        <input class="roltext1" name="TelEmpleado" id="TelEmpleado" th:field="*{TelEmpleado}" placeholder="3201457846">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                        <p class="formulario__input-error">El Telefono tiene que estar ingresado, solo puede contener numeros.</p>
                    </div>
                    <!-- emailEmpleado -->
                    <div class="formulario_grupo" id="grupo_email">
                        <label class="rol">Email Empleado</label><br>
                    <div id="cargo_input">
                        <input class="roltext1" name="EmailEmpleado" id="EmailEmpleado" th:field="*{EmailEmpleado}" placeholder="andrea@correo.com">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                        <p class="formulario__input-error">El Email tiene que estar ingresado, solo puede contener Letras, numeros y ciertos signos.</p>
                    </div>
                    <!-- rhEmpleado -->
                    <div class="formulario_grupo" id="grupo_rh">
                        <label class="rol">Rh Empleado</label><br>
                        <select class="roltext1" name="RhEmpleado" id="RhEmpleado">
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="A+">A+</option>
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="A-">A-</option>
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="B+">B+</option>
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="B-">B-</option>
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="AB+">AB+</option>
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="AB-">AB-</option>
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="O+">O+</option>
                            <option id="RhEmpleado" class="roltext1" name="RhEmpleado" value="O-">O-</option>
                        </select>
                    </div>
                    <!-- especialidadEmpleado -->
                    <div class="formulario_grupo" id="grupo_especial">
                        <label class="rol">Especialidad Empleado</label><br>
                    <div id="cargo_input">
                        <input class="roltext1" name="EspecialidadEmpleado" id="EspecialidadEmpleado" th:field="*{EspecialidadEmpleado}" placeholder="Liquidacion Nominal">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                        <p class="formulario__input-error">La Especialidad tiene que estar ingresada, solo puede contener Letras.</p>
                    </div>
                    <!-- Cargofk -->
                    <div class="form-group">
                        <label class="rol"> Cargo FK</label><br>
                        <select th:field="*{FKcargo}">
                            <option value="">Seleccione el género del álbum</option>
                            <th:block th:each="c:${cargos}">
                                <option th:text="${c.nombreCargo}" th:value="${c.idCargo}"></option>
                            </th:block>
                        </select>
                    </div>
                        <br>
                            <!-- fotoEmpleado -->
                        <div class="formulario_grupo" id="grupo_foto">
                            <label class="rol">Foto Empleado</label><br>
                            <div id="cargo_input">
                                <input type="file" accept="image/*,.pdf" name="fotoEmpleado" id="fotoEmpleado" th:field="*{fotoEmpleado}">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                             <p class="formulario__input-error">La Especialidad tiene que estar ingresada, solo puede contener Letras.</p>
                        </div>
                            <br><label class="rol">Estado Empleado</label><br>
                            <div id="cargo_select">
                            <select class="roltext1" name="EstadoEmpleado" id="EstadoEmpleado">
                                <option id="EstadoEmpleado" class="roltext1" name="EstadoEmpleado" value="true">Activar</option>
                                <option id="EstadoEmpleado" class="roltext1" name="EstadoEmpleado" value="false">Inactivar</option>
                            </select>
                            <div>
                            <button type="submit" class="enviar" value="crear" name="accion">Enviar</button>
                </form>
              </div>
            </div>
        </section>
    </div>
    <script th:src="@{../js/empleado.js}"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>