<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <title>Horas Extra</title>
</head>
<body>
    <div class="container-fluid">
        <p th:text="${he.idHorasExtra}"></p>
        <p th:text="${he.fechaHE}"></p>
        <p th:text="${he.estadoHE}"></p>
        <span class="badge bg-success active" th:if="${he.estadoHE==true}">Activo</span>
        <span class="badge bg-danger active" th:if="${he.estadoHE==false}">Inactivo</span>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>