<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <meta chdevset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <title>Incapacidad</title>
</head>
<body>
    <!-- <div class="body">
        <section class="section"> -->
            <nav>
                <div class="nav">
                    <button id="menu"><i class="fi fi-rr-add"></i><a th:href="@{form}">   Creacion  </button></a>
                    <button id="regresar"><i class="fi fi-sr-rewind"></i><a th:href="@{/index}">   Regresar</button></a>
                  </div>
            </nav>
            <table id="datat">
            <thead>
                <th>Id Incapacidad</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th>Soporte</th>
                <th>Fk Empleado<th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr th:if="${Incapacidads.size()>0}" th:each="c:${Incapacidads}">
                    <td th:text="${c.idIncapacidad}"></td>
                    <td th:text="${c.fechaInicio}"></td>
                    <td th:text="${c.fechaFinal}"></td>
                    <td th:text="${c.soporteIncapacidad}"></td>
                    <td th:text="${c.FKempleado.NombreEmpleado}"></td>
                    <td th:if="${c.estadoIncapacidad==true}" id="activo">
                        <span class="badge bg-success active">Activo</span>
                        </td>
                        <td th:if="${c.estadoIncapacidad==false}" id="inactivo">
                        <span class="badge bg-danger active">Inactivo</span>
                        </td>
                        <td th:if="${c.estadoIncapacidad==true}" id="estadoboton">
                        <a rol="button" class="btn btn-danger btn-sm"  th:href="@{/Incapacidad/estado/}+${c.idIncapacidad}"><button>Inactivar</button></a>
                        <a role="button" class="btn btn-warning btn-sm" th:href="@{/Incapacidad/edit/}+${c.idIncapacidad}"> 
                            <button onclick="return confirm('¿Estas seguro de Editar el Incapacidad?');"><i class="fi fi-rr-edit"></i></button></a>
                        <a role="button" class="btn btn-danger btn-sm"th:href="@{/Incapacidad/eliminar/}+${c.idIncapacidad}" > 
                            <button onclick="return confirm('¿Estas seguro de Eliminar el Incapacidad?');"><i class="fi fi-rr-trash"></i></button>
                            </a>
                        </td>
                        <td th:if="${c.estadoIncapacidad==false}" id="estadoboton">
                        <a rol="button" class="btn btn-success btn-sm"  th:href="@{/Incapacidad/estado/}+${c.idIncapacidad}"><button>Activar</button></a>
                        <a role="button" class="btn btn-warning btn-sm" th:href="@{/Incapacidad/edit/}+${c.idIncapacidad}"> 
                            <button onclick="return confirm('¿Estas seguro de Editar el Incapacidad?');"><i class="fi fi-rr-edit"></i></button></a>
                        <a role="button" class="btn btn-danger btn-sm"th:href="@{/Incapacidad/eliminar/}+${c.idIncapacidad}" > 
                            <button onclick="return confirm('¿Estas seguro de Eliminar el Incapacidad?');"><i class="fi fi-rr-trash"></i></button>
                            </a>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>

        var datat=document.querySelector("#datat"); 
        var dataTable=new DataTable("#datat",{ 
          perPage:10,
          labels: {
              placeholder: "Busca por un campo...",
              perPage: "{select} registros por página",
              noRows: "No se encontraron registros",
              info: "Mostrando {start} a {end} de {rows} registros",
          }
        } ) ;
        
        
        </script>
    
</body>
</html>