<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <meta chConvenioset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=Convenioice-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <title>Convenio</title>
</head>
<body>
    <!--<div class="body">
        <section class="section">-->
            <nav>
                <div class="nav">
                    <button id="btncrearpdf"><i class="fi fi-br-folder-download"></i><a> Generar pdf</button></a>
                    <button id="menu"><i class="fi fi-rr-add"></i><a th:href="@{form}">   Creacion  </button></a>
                    <button id="regresar"><i class="fi fi-sr-rewind"></i><a th:href="@{../}">   Regresar</button></a>
                  </div>
            </nav>
        <table id="datat">
            <thead>
                <th>Id Convenio</th>
                <th>Hora Convenio</th>
                <th>Días Convenio</th>
                <th>Salario Convenio</th>
                <th>Fk Empleado<th>
            </thead>
            <tbody>
                <tr th:if="${Convenios.size()>0}" th:each="c:${Convenios}">
                    <td th:text="${c.idConvenio}"></td>
                    <td th:text="${c.horaConvenio}"></td>
                    <td th:text="${c.diasConvenio}"></td>
                    <td th:text="${c.salarioConvenio}"></td>
                    <td th:text="${c.FKempleado.NombreEmpleado}"></td>
                    <td> 
                        <!-- <a role="button" class="btn text-warning btn-sm" th:href="@{/Convenio/ver/} + ${Convenio.id}"> 
                            <i class="bi bi-pencil"></i>
                        </a> -->
                        <a role="button" class="btn btn-danger btn-sm"th:href="@{/Convenio/delete/}+${c.idConvenio}" > 
                            <button onclick="return confirm('¿Estas seguro de Eliminar el Empleado?');"><i class="fi fi-rr-trash"></i></button>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <script>

        var datat=document.querySelector("#datat"); 
        var dataTable=new DataTable("#datat",{ 
          perPage:10,
          labels: {
              placeholder: "Busca por un campo...",
              perPage: "{select} registros por página",
              noRows: "No se encontraron registros",
              info: "Mostrando {start} a {end} de {rows} registros",
          }
        } ) ;
        
        
        </script>
        <script th:src="@{../js/html2pdf.bundl.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>