/********** Template CSS **********/
:root {
    --primary: #eb9019;
    --light: #F3F6F9;
    --dark: #319caa;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.textcolor{
    color: var(--primary);
}
/*** Button ***/
.btn {
    transition: .5s;
}

.cambiocolor {
    color: #FFFFFF;
    background-color: #319caa;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #FFFFFF;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.logo-h{
    width: 100%;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

/* STYLE */




.body{
    height: 620px;
    max-height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    font-family: tipo;
    grid-template-columns: 30% 40% 30%;
  }

.formulario{
    background-color: #e3ecf6;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 150px 50px 50px 50px 50px 50px 50px 50px;

}

/* .eleccion{
    grid-column-start: 2;
    justify-content: space-around;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 50px auto auto auto auto 50px;
}

.boton1{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.boton1 a {
    text-decoration: none; 
    color: #24707a;
    margin-top: 15px;

}
.boton2{
    grid-column-start: 4;
    grid-row-start: 2;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton2 a {
    text-decoration: none;
    color: #24707a;

}
.boton3{
    grid-column-start: 2;
    grid-row-start: 3;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}


.boton3{
    grid-column-start: 2;
    grid-row-start: 3;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton3 a {
    text-decoration: none;
    color: #24707a;
}
.boton3 a {
    text-decoration: none;
    color: #24707a;
    margin-top: 15px;
}

.boton4{
    grid-column-start: 4;
    grid-row-start: 3;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton4 a {
    text-decoration: none;
    color: #24707a;

}



.boton3{
    grid-column-start: 2;
    grid-row-start: 3;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton3 a {
    text-decoration: none;
    color: #24707a;

}
.boton4{
    grid-column-start: 4;
    grid-row-start: 3;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton4 a {
    text-decoration: none;
    color: #24707a;

}
.boton5{
    grid-column-start: 2;
    grid-row-start: 4;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton5 a {
    text-decoration: none;
    color: #24707a;

}
.boton6{
    grid-column-start: 4;
    grid-row-start: 4;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton6 a {
    text-decoration: none;
    color: #24707a;

}
.boton7{
    grid-column-start: 2;
    grid-row-start: 5;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton7 a {
    text-decoration: none;
    color: #24707a;

}
.boton8{
    grid-column-start: 4;
    grid-row-start: 5;
    width: 100%;
    height: 40px;
    background-color: #e3ecf6;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton8 a {
    text-decoration: none;
    color: #24707a;

}

.boton1,.boton2,.boton3,.boton4,.boton5,.boton6,.boton7,.boton8{
    transition: .5s all;
}
.boton1:hover,.boton2:hover,.boton3:hover,.boton4:hover,.boton5:hover,.boton6:hover,.boton7:hover,.boton8:hover{
    background-color: #eb901994;
} */
/* .........cargo */

.section {
    height: 620px;
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px 50px 20px auto 50px;
    grid-area: 1 /4 3/4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;

}
@font-face {
    font-family:h1;
    src: url(ruso.ttf);
}
@font-face {
    font-family:tipo;
    src: url(coolvetica\ rg.otf);
}
.section h1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: h1;
    font-size: 100px;
    margin-top: 0px;
    color: #2c8591;
    text-shadow: 1px 1px 10px black;

}

#datat {
    background-color: #e3ecf6;
    width: 100%;
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #2c8591;
    font-size: 20px;
}

#datat td{
    border: 5px solid rgba(255, 255, 255, 0.513);
    border-radius: 10px;

}

.tabla{
    padding: 0 20px;
    text-align: center;
}
.formu{
    padding: 20px 20px;
    margin-top: 20px;
    background-color: #e3ecf6;
    background-color: #e3ecf6;
    width: 100%;
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    color: #2c8591;
    font-size: 20px;
    text-align: center;

}

#activo{
    background-color:  rgba(0, 255, 0, 0.411);;
}
#inactivo{
    background-color:  rgba(255, 0, 0, 0.411);;
}

#estadoboton button{
    cursor: pointer;
    height: 30px;
    width: 80px;
    background-color: rgba(196, 196, 196, 0.192);
    border-radius: 10px;
    border: 2px solid rgb(0, 110, 255);
    color:#ffffff;
    transition: .5s ease all;
}
td{
    text-align: center;
}
#estadoboton button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}







.formu select{
    height: 35px;
    width: 50%;
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.932);
    margin: 10px 100px;
    transition: .2s ease all;
    padding: 0 10px;
    font-size:16px;
}
.formu input{
    height: 35px;
    width: 50%;
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.932);
    margin: 10px 150px;
    transition: .2s ease all;
    padding: 0 10px;
    font-size:16px;
}

.formu button{
    margin: 40px  0  0  0;
    height: 30px;
    width: 80px;
    background-color:#2c859175;
    border-radius: 10px;
    border: 2px solid #24707a;
    color:#eb9019;
    transition: .3s ease all;
    cursor: pointer;
}

.formu label{
    font-size: 20px;
    font-weight: 600;
}

.enviar:hover{

    background-color:#5decffd2;
    color:#ff9100;
}

/* validacion de campos  */

#cargo_input{
    position: relative;
    margin-left: -50px;
}


.formu input:focus{
    border: 3px solid #0075ff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.932);
    outline: none;
}
.formu select:focus{
    border: 3px solid #0075ff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.932);
    outline: none;
}

.formulario__input-error{
    font-size: 20px;
    margin-bottom: 10px;
    display: none;
    background-color: #bb2929;
}


.formulario__input-error-activo{
    display: block;
}

.formulario__validacion-estado{
    margin-left: -100px;
    opacity: 0;
}

.formulario__mensaje{
    background-color: #f66060;
    height: 40px;    
    line-height: 40px;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__mensaje-exito{
    color: #49af3c;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: none;
}
/* ----- -----  Estilos para Validacion ----- ----- */

.formulario_grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}

.formulario_grupo-incorrecto label{
    color: #bb2929;
}
.formulario_grupo-incorrecto .formulario__validacion-estado{
    color: #ff0000;
    opacity: 1;
}

.formulario_grupo-incorrecto .roltext1{
    border: 2px solid #bb2929;


}


.tablaa{
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #e3ecf6;

}

.imga{
    background-image: url(../img/Timmpay-Negro-peque.gif);
    background-size: cover;
    height: 40vh;
    width: 80%;
}

.rostro1{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-image:url(../img/vv.PNG);
    background-size: cover;
    height: 25vh;
    width: 25%;
    margin: 1%;
}
.rostro2{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-image:url(../img/sss.jpeg);
    background-size: cover;
    height: 25vh;
    width: 25%;
    margin: 1%;
}
.rostro3{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-image:url(../img/sss.jpeg);
    background-size: cover;
    height: 25vh;
    width: 25%;
    margin: 1%;
}
.rostro4{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-image:url(../img/ddd.jpeg);
    background-size: cover;
    height: 25vh;
    width: 25%;
    margin: 1%;
}
